<%= form_for @student do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, id: 'name_input' %>
  </div>
  <div class="field">
    <%= f.label :sid, "SID" %><br>
    <%= f.text_field :sid, id: 'sid_input' %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
