<table class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <!-- <th>Due</th> -->
      <th></th>
    </tr>
  </thead>
  <% @active_transactions.each do |tra| %>
    <tr>
      <td><%= tra.book.id %></td>
      <td><%= link_to tra.book.title, book_path(tra.book) %></td>
      <!-- <td><%# book.due.strftime('%Y/%_m/%e %A') %></td> -->
      <td><%= form_tag '/checkin' %>
            <%= hidden_field_tag 'transaction_id', tra.id %>
            <%= button_tag "Check in", class: "list_button" %>
      </td>
    </tr>
  <% end %>
</table>
