<div id="checkin_container">
  <h2>Return book</h2>

  <div>
    <%= form_tag '',  id: 'ci_checkin_book_form' do %>
      <%= label_tag :book %><br />
      <%= text_field_tag :book, '', id: 'ci_book_input' %>
      <%= button_tag (icon('search') + ' Find Book'),
          id: 'ci_find_book_button', class: 'small-button' %>
    <% end %>
  </div>

  <div id="ci_book_info_form_div">
    <div id="ci_book_div">

    </div>

    <%= form_tag checkin_path do %>
      <%= hidden_field_tag :book_id, '', id: 'ci_book_id_field' %>
      <%= hidden_field_tag :book_title, '', id: 'ci_book_title_field' %>
      <%= button_tag 'Check in', class: 'large-button' %>
    <% end %>
  </div>

  <div id="checked_out_books_div" class="form_partial">
    Checked out books:
    <%= render 'checked_out_books_list' %>
  </div>
</div>
