<div id="checkout_container" class="pure-g">
<div class="pure-u-1">
  <h2>Check out books</h2>
</div>

<div class="pure-u-1">
  <%= form_tag '',  id: 'co_book_form' do %>
    <%= label_tag :book %><br />
    <%= number_field_tag :book, '', id: 'co_book_input', class: 'input' %>
    <%= button_tag (icon('search') + ' Find Book'),
        id: 'co_find_book_button', class: 'small-button' %>
  <% end %>
</div>

<div class="pure-u-1">
  <%= form_tag '', id: 'co_student_form' do %>
    <%= label_tag :student %><br />
    <%= number_field_tag :student, '', id: 'co_student_input', class: 'input' %>
    <%= button_tag (icon('search') + ' Find Student'),
        id: 'co_find_student_button', class: 'small-button' %>
  <% end %>
  <%= icon 'plus' %> <%= link_to 'add new student', new_student_path %>
</div>

<div id="co_console" class="pure-u-1">
  <span class="faded">Book:</span>
  <div id="co_book_div">

  </div>
  <span class="faded">Student:</span>
  <div id="co_student_div">

  </div>
</div>

<div id="checkout_button_div" class="pure-u-1">
  <%= form_tag checkout_path do %>
    <%= hidden_field_tag :book_id, '', id: 'co_book_id_field' %>
    <%= hidden_field_tag :student_id, '', id: 'co_student_id_field' %>
    <%= button_tag 'Check Out Book', id: 'checkout_button',
        class: 'large-button'  %>
  <% end %>
</div>

<div class="private">
 <span id="book_params"></span>
 <span id="student_params"></span>
</div>
</div>
