<h1>Check Out Books</h1>

<div>
  <%= form_tag '',  id: 'co_book_form' do %>
    <%= label_tag :book %>
    <%= text_field_tag :book, '', id: 'co_book_input' %>
    <%= button_tag 'Find Book', id: 'co_find_book_button' %>
  <% end %>
</div>
<div id="co_book_div">

</div>
<div>
  <%= form_tag '', id: 'co_student_form' do %>
    <%= label_tag :student %>
    <%= text_field_tag :student, '', id: 'co_student_input' %>
    <%= button_tag 'Find Student', id: 'co_find_student_button' %>
  <% end %>
</div>
<div id="co_student_div">

</div>
<div>
  <%= form_tag checkout_path do %>
    <%= hidden_field_tag :book_id, '', id: 'co_book_id_field' %>
    <%= hidden_field_tag :student_id, '', id: 'co_student_id_field' %>
    <%= button_tag 'Check Out Book', id: 'checkout_button' %>
  <% end %>
</div>

<div class="private">
 <span id="book_params"></span>
 <span id="student_params"></span>
</div>
