<ul>
  <li><%= icon('circle-o') %> <%= link_to 'Add a new student', new_student_path %></li>
  <li><%= icon('circle-o') %> <%= link_to 'Add a new book', new_book_path %></li>
  <li><%= icon('circle-o') %> See overdue books</li>
</ul>
