<!DOCTYPE html>
<html>
<head>
  <title>KicLib</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <span id="logo"><%= link_to 'KIC Berkeley Library', root_path  %></span>
  <ul class="nav-list">
    <li><%= icon('book') %> <%= link_to "Check in Books", checkin_path %></li>
    <li><%= icon('cogs') %> <%= link_to "Admin", admin_path %></li>
  </ul>
</header>
<main>
  <%= yield %>
</main>
</body>
</html>
