<!DOCTYPE html>
<html>
<head>
  <title>KicLib</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <span id="logo">KIC Library</span>
  <ul class="nav-list">
    <li><%= icon('book') %> Check in books</li>
    <li><%= icon('cogs') %> Admin</li>
  </ul>
</header>
<%= yield %>

</body>
</html>
