<!DOCTYPE html>
<html>
<head>
  <title>KicLib</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/tables-min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="clearfix">
  <!-- <div class="logo"><%= link_to 'KIC Berkeley Library', root_path  %></div> -->
  <div id="logo"><%= link_to 'KIC Berkeley Library', root_path  %></div>
  <nav class="nav">
    <ul class="nav-list">
      <li><%= icon('book') %><%= link_to " Return Books", checkin_path %></li>
      <li><%= icon('cogs') %><%= link_to " Admin", admin_path %></li>
      <li>
        <% if logged_in? %>
          <%= icon('sign-out') %><%= link_to " Sign out", logout_path %>
        <% else %>
          <%= icon('sign-in') %><%= link_to " Sign in", login_path %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
<main>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <%= yield %>
</main>
</body>
</html>
